/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: "Times New Roman", Times, serif;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.error-text {
  color: rgb(102, 2, 2);
}

.card1 {
  height: 120px;
  width: 260px;
  border: 1px solid rgb(8, 3, 3);
  margin: 20px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: 0.4s ease;
}

.card1:hover {
  cursor: pointer;
  border-color: red;
  transform: translateY(-5px);
  transform: scale(1.1);
}

.row1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.row2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media (max-width: 575.98px) {
  .box {
    display: flex;
    flex-direction: column;
  }
  .container nav {
    display: flex;
    flex-direction: column;
  }
  .logout {
    margin-top: 10px;
  }
}

.s-box {
  font-weight: 800;
  margin-top: 10px;
}

.subscription {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card-2 {
  margin-top: 0;
}

.subscription-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

